.pagination {
    text-align: center;
    padding-bottom: 10px;
    font-size: 0.9em;
}

.page {
    text-decoration: none;
    padding: 3px 8px;
    font-weight: bold;
    border: solid 0.1px grey;
    color: black;
}

.page:first-child {
    padding-left: 15px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.page:last-child {
    padding-right: 15px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.page--active {
    box-shadow: inset 1px 2px 5px black;
}