.search {
    text-align: left;
    margin-left: 11px;
}

.search__input {
    font-size: 1.1rem;
    border: 1px solid rgb(165, 164, 164);
    padding: 6px 4px;
    width: 30%;
    border-left: none;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.search__input::placeholder {
    font-size: 0.9em;
}

.search__input:focus {
    width: 95%;
    transition: width 0.4s ease-in-out;
}