:root {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    color:#3f3f3f;
}
button, input, a {
  font-family: inherit;
  background-color: inherit;
}

p, h1, h2, h3 {
    margin: 5px;
}

.label {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.4px;
    color: #8F9094;
  }

  .link {
    color: rgb(6, 6, 173);
    text-decoration: none;
    font-weight: bold;
    display: block;
    letter-spacing: 1.2px;
  }

  .link:hover {
    text-decoration: underline;
  }